.container {
    /* background-image: url('../../../assets/img/student-space.png'); */
    background-size: cover;
    background-position: center;
    /* Autres styles pour le conteneur si nécessaire */
  
   
  }
  h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  